.welcome-container {
    position: absolute;
    background-image: url('../../assets/images/welcome.svg');
    background-position: center;
    display: flex;
    align-content: center;
    flex-direction: column;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.welcome-container h4 {
    text-align: center;
}
