.welcome-container {
    background-image: url('../../assets/images/welcome.svg');
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.welcome-container h4 {
    text-align: center;
}

.welcome-title {
   font-family: GelioGreekDiner;
   font-size: xxx-large;
   margin: 3rem 0;
   color: #a13a02;
}

button.loginPlayButton {
   background-color: #f28422;
}