.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(39, 180, 152, 0.407);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: rgb(172, 223, 215);
    width: 40%;
    padding: 1rem;
}