.tutorial-container {
   background-image: url('../../assets/images/tutorial.svg');
   background-repeat: repeat;
   background-size: contain;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding-bottom: 2rem;
   width: 100%;
   min-height: 100vh;
}

.tutorial-title {
   font-family: GelioGreekDiner;
   font-size: xxx-large;
   margin: 3rem 0;
   color: #2e65da;
   background: #fff;
   padding: 1rem;
   border-radius: 1rem;
}

button.tutorialBtn {
   background-color: #2e65da;
}