.game-container {
    position: absolute;
    background-image: url('../../assets/images/background.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.wanna-play-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    background-image: url('../../assets/images/start.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.score-label {
    text-align: right;
    padding-top: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    color: white;
}

button.rankingGameBtn {
  background-color: #518ea5;
}

/* Parallax */

@keyframes bgScroll {
    0% {
      background-position: 0px 0px
    }
    100% {
      background-position: -512px 0px
    }
  }
  
  .parallax {
    display: block;
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .parallax.middleground {
    background-image: url("../../assets/images/clouds.svg");
    animation: bgScroll 50s linear infinite;
  }

  .parallax.foreground {
    background-image: url("../../assets/images/kraken.svg");
    animation: bgScroll 20s linear infinite;
  }