.odysseus {
    position: absolute;
    transition: transform 1s linear ;
    
    
    /*    position: absolute;
        transition: all 1s ease-in-out;
        transform:translate(-50%, -50%);
        margin-left: 30%;
        margin-top: 10%; */
      
      
}

.odysseus img {
    width: 10vh;
    height: 10vh;
}